* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  background: #fffaf5;
}

/*------------------------------------------------
# common
------------------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sora", sans-serif;
}

img {
  object-fit: cover;
}

input,
textarea,
select,
button {
  font-size: inherit;
  font-family: inherit;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.btn {
  display: inline-block;
  min-width: 130px;
  line-height: 56px;
  text-align: center;
  border-radius: 99px;
  border: 1px solid rgb(0, 9, 88, 0.7);
}

.section-heading {
  color: #000958;
  font-family: Sora;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.19; /* 119.231% */
}

.section-desc {
  margin-top: 24px;
  color: #656689;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.86; /* 187.5% */
}
/*------------------------------------------------
# header section styling
------------------------------------------------*/
.header {
  background: #fffaf5;
  padding-top: 26px;
  z-index: 1000;
}

.header-fixed {
  position: sticky;
  top: -26px;
}

.header__body {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 229px; */
}

.navbar__list {
  min-width: 491px;
  display: flex;
  align-items: center;
  gap: 36px;
}

.navbar__link,
.header-action__signin {
  padding: 18px 0;
  color: #5e6085;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1;
}

.navbar__link:hover,
.header-action__signin:hover {
  text-shadow: 1px 0 2px currentColor;
  color: #000958;
}

.header-action__signin:hover {
  text-decoration: underline;
}

.header__action {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 36px;
}

.header-action__signup {
  color: #000958;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1; /* 100% */
}

.header-action__signup {
  --height: 48px;

  min-width: 117px;
  line-height: var(--height);
}

.header-action__signup:hover {
  background: #000958;
  color: #fff;
}

/*------------------------------------------------
# hero section styling
------------------------------------------------*/
.hero {
  padding: 53px 0 171px;
  margin-top: 37px;
}

.hero__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 120.51px;
}

.hero__media {
  display: flex;
  position: relative;
}

.hero__img-wrap {
  position: relative;
}

.hero__img-wrap {
  width: 388px;
  height: 488px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 16px;
  background: #fe997b;
  border: 3px solid #fff;
}

.hero__img,
.hero__img-small {
  width: 100%;
  border-radius: inherit;
}

.hero__decor {
  position: absolute;
  z-index: -1;
}

.hero--decor1 {
  top: 16.66px;
  right: -43px;
}

.hero--decor2 {
  bottom: 9.53px;
  left: -57.99px;
}

.hero__img-wrap-small {
  align-self: flex-end;
  width: 186px;
  height: 244px;
  margin: 0 0 -58px -24px;
  border: 2px solid #fcdddf;
}

.hero__summary {
  align-self: flex-end;
  margin-bottom: -94px;
  margin-right: -129px;
  width: 250px;
  height: 156px;
  padding: 18px 14px;

  border-radius: 10px;
  background: #fff;
  box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
  position: absolute;
  left: 129px;
  bottom: 0;
}

.hero__item {
  display: flex;
  gap: 10px;
}

.hero__item-image {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background: #fec23f;
}

.hero__item-image--2 {
  background: #c6e2fa;
}

.hero__item-thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0px 4px 21px 0px #f7a70c52;
}

.hero__item-thumb--2 {
  box-shadow: 0px 4px 21px 0px #6597c2;
}

.hero__item-info {
  display: flex;
  flex-direction: column;
}

.hero__item-title {
  color: #181e52;
  font-family: Sora;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1; /* 100% */
}

.hero__item-skeleton {
  border-radius: 10px;
  opacity: 0.08;
  background: #000958;
  height: 4px;
  margin-left: 1px;
}

.hero__skeleton--long {
  width: 118px;
  margin-top: 7px;
}

.hero__skeleton--short {
  width: 39px;
  margin-top: 6px;
}

.hero__skeleton-hr {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 19.6px;
  width: 222px;
  height: 2px;
  background: #f2f2f2;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.hero__title {
  color: #000958;
  font-size: 6.6rem;
  font-weight: 800;
  line-height: 1.15; /* 115.152% */
}

.hero__desc {
  margin-top: 24px;
  color: #656689;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.86; /* 187.5% */
}

.hero__row-cta {
  margin-top: 38px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.hero__cta {
  display: flex;
  align-items: center;
}
.hero__book-link {
  color: #fff;
}

.hero__cta {
  display: flex;
  gap: 10px;

  justify-content: center;
  min-width: 189px;
  line-height: 60px;
  border: none;
  border-radius: 31px;
  background: #ff5b2e;
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
  padding: 0 10px;
}

.hero__icon-right {
  width: 8px;
  height: 8px;
}

.hero__img-icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fffaf5;
  box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.4);
}

.hero__cta-link {
  color: #000958;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1;
  padding: 10px 0;
}

.hero__cta-link:hover {
  text-shadow: 1px 0 0 currentColor;
  text-decoration: underline;
}

/*------------------------------------------------
# about section styling
------------------------------------------------*/
.about {
  padding: 53px 0;
}

.about__body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.about__content {
  padding: 69px 0 77px;
}

.about__label {
  color: #5e6085;
  font-family: Sora, sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1; /* 100% */
}

.about__heading {
  margin-top: 15px;
  width: 446px;
}

.about__desc {
  width: 431px;
}

.about__check__list {
  margin-top: 54px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: start;
  gap: 34px 36px; /*row, column gap (trên dưới, trái phải)*/
}

.about__check-item {
  display: flex;
  align-items: center;
  column-gap: 10px;
  position: relative;
  color: #48496a;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1; /* 100% */
}

.about__check-item::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background: #ff5d31;
  box-shadow: 0 4px 15px -3px rgba(255, 93, 49, 0.69);
}

.about__check-item::after {
  content: url(../images/svg/icon-check.svg);
  position: absolute;
  top: 3px;
  left: 4px;
}

.about__media {
  position: relative;
}

.about__card {
  position: absolute;
  top: 165px;
  left: 0;
  width: 138.952px;
  height: 179.19px;
}

.about__card-info {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 136px;
  height: 156px;
  padding: 30px 26px;
  gap: 14px;
  text-align: center;
  border-radius: 10px;
  background: #5bd6e2;
  box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}

.about__card-heading {
  color: #fff;
  font-family: Sora;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1; /* 100% */
}

.about__card-desc {
  color: #c6f4f9;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.43; /* 142.857% */
}

.about__card-img {
  position: absolute;
  z-index: 1;
  width: 34.935px;
  height: 37.623px;
  top: 0;
  right: 0;
}

.about__card-icon {
  width: 141%;
  height: 141%;
  object-fit: cover;
  fill: linear-gradient(183deg, #ffa68c 44.03%, #ff926a 124.6%);
  filter: drop-shadow(5px 9px 24px rgba(255, 158, 126, 0.08));
}

.about__image {
  position: relative;
  margin-left: 92px;
  width: 494px;
  height: 559px;
  border-radius: 16px;
  /* 2background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%); */
}

.about__img {
  width: 450px;
  height: 602px;
  margin-left: 21px;
  padding-bottom: 43px;
}

.about__img-decor {
  position: absolute;
  width: 133.63px;
  height: 94.766px;
  top: 157px;
  left: 411px;
}

.about__bg-decor {
  display: inline-block;
  position: absolute;
  z-index: -1;
  left: 0;
  bottom: 0;
  width: 494px;
  height: 336px;
  border-radius: 16px;
  background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
  box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
}
/*------------------------------------------------
# section styling
------------------------------------------------*/
.feature {
  padding: 77px 0;
}

.feature__body {
  display: flex;
  gap: 78px;
}

.feature__media {
  width: 500px;
  height: 570.583px;
  position: relative;
}

.feature__img-main {
  position: absolute;
  left: 0;
  top: 16px;
  width: 458px;
  height: 500px;
  border-radius: 18px;
  border: 2px solid #fff;
  background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
  box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.feature__decor {
  position: absolute;
}

.feature__decor--1 {
  top: 0;
  right: 55px;
}

.feature__decor--2 {
  top: 49px;
  right: 21px;
}

.feature__decor--3 {
  top: 284px;
  right: 9px;
}

.feature__decor--4 {
  top: 352px;
  right: 61px;
}
.feature__decor--5 {
  bottom: 0;
  right: 0;
}
.feature__decor--6 {
  top: 28.5px;
  right: 105.16px;
}

.feature__content {
  padding: 52px 0px 60px;
}

.feature__heading {
  width: 543px;
}

.feature__desc {
  width: 511px;
}

.feature__row {
  margin-top: 41px;
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 49px;
  border-bottom: 2px solid rgb(255, 91, 46, 0.07);
}

.feature__item {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: start;
}

.feature__item:hover {
  cursor: pointer;
  box-shadow: inset 0 -2px 0 #ff5b2e;
}

.feature__heading3 {
  padding: 14px 0 14px;
  color: #48496a;
  font-family: Sora;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1; /* 100% */
}

.feature__desc3 {
  margin-top: 36px;
  color: #656689;
  font-size: 1.4rem;
  line-height: 1.71;
  max-width: 391px;
}

.feature__more {
  margin-top: 32px;
  --more-width: 86px;
  color: #ff5d31;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start; /* Căn theo nội dung */
}

.feature__more-text {
  min-width: var(--more-width);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1; /* 100% */
}

.feature__more-line {
  display: block;
  width: 100%;
  max-width: var(--more-width);
  height: 1.5px;
  background: #ff5d31;
}

/*------------------------------------------------
# section styling
------------------------------------------------*/
